/* Variables de color */
:root {
    --main-brand-color: #284052; /* Puedes ajustar este color */
    --main-font-family: Arial, sans-serif;
    --main-text-color: #181010;
    font-size: 1.2rem;
    background-image: url("../assets/fullscreen.jpeg")
}

/* Estilo para el header */
header {
    font-family: var(--main-font-family);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--main-brand-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    
    color: white;
}

header a {
    width: 30%;
    text-decoration: none;
    list-style: none;
    min-width: 6.3rem;
    max-width: 12.5rem;
}

header button {
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

/* Formulario de login */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 2rem auto;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 1rem;
    color: var(--main-text-color);
    margin-bottom: 0.5rem;
}

form input {
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1rem;
}

form button {
    background-color: var(--main-brand-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2980b9;
}

form input:focus,
form button:focus {
    outline: none;
}

